<!doctype html>

<head>
  <meta charset="utf-8">
</head>
<body>
  <header>
    <div class="hamburger-menu">
        <input type="checkbox" id="menu-btn-check">
        <label for="menu-btn-check" class="menu-btn"><span></span></label>
        <div class="menu-content">
          <ul>
              <li>
                  <a href="#">スポットマップ</a>
              </li>
              <img src="../assets/title/地図.png" alt = "地図">
          </ul>
      </div>
    </div>
  </header>
  <header>
    <div class="title">
      <!--NFCスタンプラリー-->
      <img src="assets/title/stamprally.png" width="340" height="120" alt="謎解きクイズラリー" class="img_01">
      <img src="assets/title/oit_logo.png" alt="oit" class="img_02">
    </div>
  </header>

  <div class="start">
    <button (click)="scanning ? resetStamp() : start()" [class]="scanning ? 'reset-button' : 'start-button'">
      {{ scanning ? 'リセット' : 'スタート' }}
    </button>
  </div>

  <main>
    <ul class="stamp-list">
      <li *ngFor="let stamp of stamps">
        <img *ngIf="stamp.correct; else elseTemplate" [src]="stamp.imagePath" [alt]="stamp.name">
        <ng-template #elseTemplate>
          <div class="stamp-incorrect">
            {{ stamp.name }}
          </div>
        </ng-template>
      </li>
    </ul>

  </main>
</body>